[submodule "github.io"]
	path = brocade/resources/public
	url = git@github.com:brocade/brocade.github.io.git
[submodule "brocade/resources/public"]
	path = brocade/resources/public
	url = git@github.com:gaberger/brocade.github.io.git
