

.mdl-brocade .brocade-logo {
  background: url(/img/sprite-global.png) 0 0;
  background-color:transparent;
  background-repeat:no-repeat;
  background-position: 0 -50px;
}

.mdl-brocade .git-cards{
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;

}

/*.mdl-brocade-square.mdl-card  > .mdl-card-square.mdl{
  width: 320px;
  height: 320px;
}
.mdl-card-square > .mdl-card__title {
  color: #fff;
  background:
   bottom right 15% no-repeat #46B6AC;
}
.mdl-brocade__subtitle-text  > .mdl-card__subtitle-text{
    font-size: 14px;
    color: rgba(0,0,0,.54);
    margin-left: 20px;
    margin-right: auto;
}*/